# Required.
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=inventar
MYSQL_USER=inventar
MYSQL_PASSWORD=your_secure_password
PUBLIC_URL=https://inventar.mysite

# Optional.
MAIL_HOST=smtp.resend.com
MAIL_PORT=465
MAIL_USER=resend
MAIL_PASSWORD=your_secure_password