# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit/*
node_modules
/build
/logs
bun.lock

# OS
.DS_Store
Thumbs.db
/.idea
/.vscode

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/logs
/src/lib/assets/uploads