@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'NectoMono';
    src: url('$lib/assets/fonts/nectomono/NectoMono-Regular.woff2') format("woff2");
}

@font-face {
    font-family: 'FunnelDisplay';
    src: url('$lib/assets/fonts/funnel/display/FunnelDisplay[wght].woff2') format("woff2");
}

@font-face {
    font-family: 'FunnelSans';
    src: url('$lib/assets/fonts/funnel/sans/FunnelSans[wght].woff2') format("woff2");
}

@font-face {
    font-family: 'FrickRegular';
    src: url('$lib/assets/fonts/frick/Frick0.3-Regular.woff2') format("woff2");
}

@font-face {
    font-family: 'FrickCondensed';
    src: url('$lib/assets/fonts/frick/Frick0.3-Condensed.woff2') format("woff2");
}

@font-face {
    font-family: 'ArchivoBold';
    src: url('$lib/assets/fonts/archivo/Archivo-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'ArchivoBoldItalic';
    src: url('$lib/assets/fonts/archivo/Archivo-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'ArchivoSemiBold';
    src: url('$lib/assets/fonts/archivo/Archivo-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'ArchivoSemiBoldItalic';
    src: url('$lib/assets/fonts/archivo/Archivo-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'ArchivoRegular';
    src: url('$lib/assets/fonts/archivo/Archivo-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'ArchivoItalic';
    src: url('$lib/assets/fonts/archivo/Archivo-Italic.woff2') format('woff2');
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    /* Colors */
    --primary-color: oklch(48.8% 0.243 264.376);
    --secondary-color: hsl(from var(--primary-color) h 25% l);

    --primary-text-dark: hsl(0, 0%, 95%);
    --primary-text-light: hsl(0, 0%, 5%);

    --dark-text-primary: hsl(0, 0%, 95%);
    --text-primary: hsl(0, 0%, 5%);

    --primary-icon-dark: hsl(0, 0%, 95%);
    --primary-icon-light: hsl(240, 4%, 5%);

    --accent-text: oklch(62.3% 0.214 259.815);
    --accent-icon: hsl(from var(--accent-text) h s l);

    --background-color-dark: #0f0f11;
    --background-color-light: #f2f2f2;

    --dark-container-background: #151518;
    --dark-container-border: #2E323D;

    --container-background: #EAEAEA;
    --container-border: #B9C1C9;

    --container-color-dark: #151518;
    --container-color-light: #eaeaea;

    --header-color-dark: #111113;
    --header-color-light: #ececea;
    --header-border-color-dark: #2e323d;
    --header-border-color-light: #b9c1c9;

    --logo-dark: #FFFFF2;
    --logo-light: #0d0d0d;

    /* Variables */
    --header-height: 3.5rem;
    --header-icon-gap: 1.5rem;

    /* UI Baseline */
    --container-full-height: 87.5%;
    --border-radius: .8rem;
    --icon-border-radius: .65rem;
    --border-width: .1em;
    --form-input-border-radius: .4rem;
    --form-input-background: #41414b;
    --form-input-border: #575764;

    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Tailwind Theme Variables */
@theme {
    /* Colors */
    --color-dark-bg: var(--background-color-dark);
    --color-light-bg: var(--background-color-light);

    --color-dark-header: var(--header-color-dark);
    --color-light-header: var(--header-color-light);
    --color-dark-header-border: var(--header-border-color-dark);
    --color-light-header-border: var(--header-border-color-light);

    --color-dark-logo: var(--logo-dark);
    --color-light-logo: var(--logo-light);

    --color-dark-icon-primary: var(--primary-icon-dark);
    --color-light-icon-primary: var(--primary-icon-light);

    /* Typography */
    --color-dark-text-primary: var(--dark-text-primary);
    --color-text-primary: var(--text-primary);

    /* UI Baseline  */
    --color-dark-container-background: var(--dark-container-background);
    --color-dark-container-border: var(--dark-container-border);
    --color-dark-button-background: #1a1a1e;
    --color-dark-button-border: #2E323D;

    --color-container-background: var(--container-background);
    --color-container-border: var(--container-border);
    --color-button-background: #EAEAEA;
    --color-button-border: #B9C1C9;
    --color-input-background: var(--form-input-background);
    --color-input-border: var(--form-input-border);
}