# DO NOT CHANGE THESE.
NODE_ENV=production
MYSQL_HOST=inventar_mysql
MYSQL_DATABASE=inventar
MYSQL_USER=inventar
REDIS_URL=redis://@inventar_redis:6379

# Change these if needed, to suit your setup.
DO_NOT_TRACK=true
MYSQL_PORT=3306
MYSQL_PASSWORD=CHANGE_ME
MYSQL_TIMEZONE=Europe/Copenhagen
PUBLIC_URL=https://inventar.mysite

# All variables below are optional, and can be completely deleted, or ignored.
MAIL_HOST=smtp.resend.com
MAIL_PORT=465
MAIL_USER=resend
MAIL_PASSWORD=CHANGE_ME